<div class="jb-product-collateral">
  <div class="tab-content">
  <div class="tabs" id="tab2">
<div class="container">
          <h2 class="tab-content-title">
            {% if metafields.custom_fields["tab_2_title"] != blank %}
            {{ metafields.custom_fields["tab_2_title"] }} 
            {% endif %}
         </h2>
  <div class="tab-content-inner">
    {% if metafields.custom_fields["tab_2_body"] != blank %}
            {{ metafields.custom_fields["tab_2_body"] }}
            {% endif %}
    
      {% render "table-2-col" with metafields: product.metafields  %}

  </div>
   		</div></div>
  </div>
</div>