<div class="tab-content-title">
            {% if metafields.custom_fields["tab_2_title"] != blank %}
            {{ metafields.custom_fields["tab_2_title"] }} 
            {% endif %}
         </div>
            {% if metafields.custom_fields["tab_2_body"] != blank %}
            {{ metafields.custom_fields["tab_2_body"] }}
            {% endif %}