<?xml version="1.0" encoding="UTF-8"?>
<svg width="71px" height="56px" viewBox="0 0 71 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>diag_transit</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="diag_transit" transform="translate(2.000000, 0.000000)">
            <path d="M59.1864,49.438 C54.8963,53.2668 50.4364,54.6399 45.7853,55.1926 L28.9263,55.177 C20.1501,54.6535 15.0184,53.3597 15.0184,53.3597 C15.0184,53.3597 16.8486,52.3612 16.8846,49.6014 C16.8953,48.7837 17.0202,46.9451 17.0202,46.9451 L17.2524,29.1596 C17.3431,22.2089 17.4712,12.3961 27.5587,5.26926 C35.1996,-0.0493679 44.8855,0.383765 52.7586,0.486533 L68.2019,0.688118 L67.9337,21.2335 C67.8429,28.1842 68.2751,41.4802 59.1864,49.438 Z" id="Path" fill-opacity="0.4" fill="#FFFFFF" fill-rule="nonzero"></path>
            <g id="Group-2" transform="translate(-0.000000, 5.000000)" stroke="#FFFFFF" stroke-linecap="round" stroke-width="2">
                <path d="M5.35775001,0.30273 C5.35775001,0.30273 6.76133001,5.7432 6.46039001,12.0884 C6.15945001,18.4336 4.30325001,20.7027 2.50003001,23.8741 C0.696800014,27.0455 -1.10883899,31.4289 0.846060014,40.1931 C1.27460001,42.1115 1.67184001,43.7758 2.03538001,45.2055" id="Path"></path>
                <path d="M34.0822,2.84217094e-14 C34.0822,2.84217094e-14 32.6786,4.83572 32.9796,11.6357 C33.2805,18.4357 36.7907,22.3643 37.8427,25.2357 C38.8948,28.1071 39.9493,34 38.5939,40.3476 C38.3724,41.3806 37.5899,44.0028 37.3492,44.9898" id="Path"></path>
                <path d="M2.04980001,26.1406 C2.04980001,26.1406 6.70835001,28.8597 19.1937,28.8597 C31.9776,28.8597 37.2405,26.443 37.2405,26.443" id="Path"></path>
                <path d="M1.14746001,30.8257 C1.14746001,30.8257 8.81780001,34.7542 11.6755,36.7185 C14.5332,38.6828 16.6374,41.4018 19.1942,41.4018 C21.751,41.4018 24.3078,38.9852 24.3078,38.9852 C24.3078,38.9852 29.2696,35.2066 32.279,33.6971 C35.286,32.1852 38.1437,31.1281 38.1437,31.1281" id="Path"></path>
                <line x1="19.6558" y1="41.6274" x2="19.6558" y2="45.6286" id="Path"></line>
                <line x1="19.8196" y1="5.8418" x2="19.9496" y2="18.8128" id="Path"></line>
                <polyline id="Path" points="26.1785 14.2993 19.9743 20.5357 13.8135 14.3453"></polyline>
            </g>
        </g>
    </g>
</svg>