<section class="page-container">
	<div class="container">
		<div class="row-lg u-center">
			<h1 class="u-center">{{ 'general.404.title' | t }}</h1>
			<p class="u-center">{{ 'general.404.subtext_html' | t }} </p>
			<a class="fourOhFour-button button" href="{{ routes.root_url }}">{{ 'general.404.continue_shopping' | t }}</a>
		</div>
	</div>
</section>